 <!-- Start header -->
 <header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo.png" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item active dropdown">
                        <a class="hover-btn-new log orange" href="/study" id="dropdown-a" data-toggle="dropdown"><span>Stady</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="/study-lan">Languages </a>
                            <a class="dropdown-item" href="/study-sub">Subjects </a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/lan-text">TextBooks</a></li>
                    <li class="nav-item"><a class="nav-link" href="/lan-video">Videos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/lan-paper">Questions Papers</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->

<div class="all-title-box">
    <div class="container text-center">
        <h1>Language<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
    </div>
</div>